.heading{
  color: aliceblue;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
}

.ticket-form {
  width: 350px;
  margin: auto;
  padding: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  /* background-color: #f9f9f9; */
  background-color: rgb(49, 48, 46);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket-form input,
.ticket-form textarea,
.ticket-form select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: inherit;
}

.ticket-form button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ticket-form button:hover {
  background-color: #0056b3;
}
